* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: goldenrod;
    height: 50vh;
    text-align: center;
}
h2 {
    margin-top: 20vh;
    font-size: 2rem;
}
.kapsayıcı {
    text-align: center;
    margin-top: 10vh ;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 3rem;
    font-weight: bold;
}
.clock {
    width: 10vw;
    height: 20vh;
    background-color: bisque;
    border-radius: 10px;
    text-align: center;
    padding-top: 5vh;
}
span{
    margin-top: 4vh;
}
.date {
    width: 40vw;
    display: inline-block;
    margin-top: 10px;
    font-size: 2rem;
    height: 10vh;
    
}